*.dll
*.suo
*.csproj.user
*/Bin
*/obj
error.courrpted.DataService.log.txt
How.to.Open.Store.Test.Kit
How.to.Open.Store.Test.Kit.png
NavigationMode==Back_or_new.log.txt
LiveBusTile/SubmissionInfo/*
LiveBusTile/SubmissionInfo/*.*
LiveBusTile/SubmissionInfo/*.xml
LiveBusTile/SubmissionInfo/Settings.xml
LiveBusTile/marketplace_pics/wp_ss_20140616_0001.psd
